
<div id="accordion-collapse" data-accordion="collapse">
    <h2 id="accordion-collapse-heading-1">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-1" aria-expanded="false" aria-controls="accordion-collapse-body-1">
        <span>sesión 1</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
      <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          <p>A) Back Squat</p><br>
          Build To A Heavy Set of 3<br><br>

          B) Thruster<br><br>

          3 Sets:<br>
          Max Unbroken Thrusters @ 75%<br><br>

          Rest 2-3 Minutes Between Sets<br><br>

          C) Ante Up<br><br>

          AMRAP 15:<br>
          6 Toes to Bar<br>
          30 Double Unders<br>
          1-2-3...Dumbbell Squats<br><br>

          Dumbbells: 22.5 / 15 kg's<br><br>

          Run Intervals<br><br>

          D) 16 Sets:<br>
          200 Meter Run<br><br>

          Rest 30 Seconds Between Sets.<br><br>

         E) Grunt Work<br><br>

          For Time:<br>
          55 Bench Press @ 65% 1RM <br><br>


          [Every Break]: 1 Legless Rope Climbs (15ft.)
    

      </div>
    </div>
    <h2 id="accordion-collapse-heading-2">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
        <span>sesión 2</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
      <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-900 dark:text-gray-900">
          A) Squat Snatch<br><br>

          6 Sets:<br>
          Set 1: 2 Snatches @ 79% <br>
          
          Set 2: 2 Snatches @ 81% <br>
          
          Set 3: 2 Snatches @ 83% <br>
          
          Set 4: 2 Snatches @ 81% <br>
          
          Set 5: 2 Snatches @ 83% <br>
          
          Set 6: 2 Snatches @ 85% <br><br>
          
          Rest 1-2 Minutes Between Sets.<br><br>
          
          B) Deadlift + Handstand Walk<br><br>
          
          For Total Load:<br>
          10-8-6-4-2 Deadlift<br><br>
          
          After Each Set:<br>
          1 Minute Max Handstand Walk<br><br>
          
          C) Jump Around<br><br>
          
          AMRAP 5:  <br>
          50/40 Calorie Row<br>
          20 Power Snatches 43 / 29 kg<br>
          Max Burpees Over Rower<br><br>
          
          Rest 5 Minutes<br><br>
          
          AMRAP 5:  <br>
          50/40 Calorie Row<br>
          20 Power Snatches 43 / 29 kg<br>
          Max Bar-Facing Burpees<br><br>
          
          Rest 5 Minutes<br><br>
          
          AMRAP 5:<br>
          50/40 Calorie Row<br>
          20 Power Snatches 43 / 29 kg<br>
          Max Burpee Pull-ups<br><br>
          
          D) Grunt Work<br><br>
          
          5 Rounds For Total Reps:<br>
          Max Unbroken D-Ball Carry 68 / 45 kg<br>
          Max Unbroken L-Sit Seconds<br><br>
          
          Rest 30 Seconds Between Stations.<br><br>
          
          E) Machine Intervals<br><br>
          
          AMRAP 8:<br>
          60/48 Calorie Echo Bike<br>
          Max Calorie Ski Erg<br><br>
          
          Rest 4 Minutes<br><br>
          
          AMRAP 8:<br>
          60/48 Calorie Ski Erg<br>
          Max Calorie Echo Bike<br>

      </div>
    </div>
    <h2 id="accordion-collapse-heading-3">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-3" aria-expanded="false" aria-controls="accordion-collapse-body-3">
        <span>sesión 3</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
      <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-900 dark:text-gray-400">
          A) Power Clean<br><br>

          4 Sets:<br>
          Set 1: 5 Power Cleans @ 50% <br>
          
          Set 2: 3 Power Cleans @ 60% <br>
          
          Set 3: 1 Power Cleans @ 70% <br>
          
          Set 4: Max Power Cleans @ 75% <br><br>
          
          
          Rest 1-2 Minutes Between Sets.<br><br>
          
          B) Strict Press<br>
          Build To A Heavy Single<br><br>
          
          C) Road Kill<br><br>
          
          3 Rounds For Time:<br>
          400 Meter Run<br>
          21-15-9 Thrusters 43 / 29 kg<br>
          1,000/800 Meter Echo Bike<br><br>
          
          D) Gymnastics Conditioning<br><br>
          
          4 Rounds For Time:<br>
          100 Meter Sled Push (Light)<br>
          20 Single Leg Squats<br>
          40% Max Bar Muscle-ups <br><br>
          
          
          Rest 2 Minutes Between Rounds.<br><br>
          
          E) Grunt Work<br><br>
          
          For Time:<br>
          50 Kettlebell Swings, 50 GHD Sit-ups<br>
          50 Kettlebell Swings, 70 V-ups<br>
          50 Kettlebell Swings, 90 AbMat Sit-ups<br><br>
          
          Kettlebell: 24 / 16 kg
        </p>
        
      </div>
    </div>
    <h2 id="accordion-collapse-heading-4">
        <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-4" aria-expanded="false" aria-controls="accordion-collapse-body-3">
          <span>sesión 4</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
          </svg>
        </button>
      </h2>
      <div id="accordion-collapse-body-4" class="hidden" aria-labelledby="accordion-collapse-heading-4">
        <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
          <p class="mb-2 text-gray-900 dark:text-gray-400">
           A) Toes to Bar<br><br>

            1 Max Set of Unbroken Toes to Bar<br><br>
            
            B) Clean & Jerk<br>
            
            Build To A Heavy Double<br><br>
            
            C) Front Squat<br><br>
            
            Set 1: 8 Front Squats @ 61% <br>
            
            Set 2: 6 Front Squats @ 70% <br>
            
            Set 3: 4 Front Squats @ 79% <br>
            
            Set 4: 8 Front Squats @ 64% <br>
            
            Set 5: 6 Front Squats @ 73% <br>
            
            Set 6: 4 Front Squats @ 82% <br><br>
            
            
            Rest 1-2 Minutes Between Sets.<br><br>
            
            D) Grace<br><br>
            
            For Time:<br>
            30 Clean and Jerks 61 / 43 kg <br><br>
            
            E) Gymnastics Conditioning<br><br>
            
            AMRAP 3 x 5 Rounds:<br>
            30/24 Calorie Echo Bike<br>
            Max Gymnastics Reps<br><br>
            
            Rest 1:00 Between Rounds<br><br>
            
            Round 1: Wall Walks<br>
            Round 2: Handstand Push-ups<br>
            Round 3: Deficit Handstand Push-ups 4.5"/3"<br>
            Round 4: Strict Handstand Push-ups<br>
            Round 5: Chest to Wall Handstand Push-ups<br>
            
          </p>
          
        </div>
      </div>
      <h2 id="accordion-collapse-heading-5">
        <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-5" aria-expanded="false" aria-controls="accordion-collapse-body-3">
          <span>sesión 5</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
          </svg>
        </button>
      </h2>
      <div id="accordion-collapse-body-5" class="hidden" aria-labelledby="accordion-collapse-heading-3">
        <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
          <p class="mb-2 text-gray-900 dark:text-gray-400">
            A) Power Snatch<br><br>

            6 Sets:<br>
            Set 1: 5 Power Snatches @ 50% <br>
            
            Set 2: 3 Power Snatches @ 60% <br>
            
            Set 3: 2 Power Snatches @ 70% <br>
            
            Set 4: 1 Power Snatches @ 75% <br>
            
            Set 5: 1 Power Snatches @ 80% <br>
            
            Set 6: Max Power Snatches @ 85% <br><br>
            
            
            Rest 1-2 Minutes Between Sets<br><br>
            
            B) Weighted Strict Pull-Up<br><br>
            
            For Total Load:<br>
            3-3-3-3-3<br><br>
            
            Rest 1-2 Minutes Between Rounds.<br><br>
            
            C) DVB<br><br>
            
            For Time (40 Minute Cap):<br>
            1,600 Meter Medicine Ball Run<br>
            8 Rounds: 10 Wallballs + 1 Rope Climb<br>
            800 Meter Medicine Ball Run<br>
            4 Rounds: 10 Wallballs + 1 Rope Climb<br>
            400 Meter Medicine Ball Run<br>
            2 Rounds: 10 Wallballs + 1 Rope Climb<br><br>
            
            Rope Climb: (15ft.)<br>
            Medicine Ball: 9 / 6 kg to 10/9ft.<br><br>
            
            D) Row Intervals<br><br>
            
            For Total Meters:<br>
            1 Minute Row, 1 Minute Rest<br>
            2 Minute Row, 2 Minute Rest<br>
            3 Minute Row, 3 Minute Rest<br>
            4 Minute Row, 4 Minute Rest<br>
            3 Minute Row, 3 Minute Rest<br>
            2 Minute Row, 2 Minute Rest<br>
            1 Minute Row<br><br>
            
            E) Grunt Work<br><br>
            
            AMRAP 10:<br>
            5 Farmers Carry Shuttles* 22.5 / 15 kg's<br>
            30 Double Unders<br><br>
            
            *30ft Down & Back (60ft Total) = 1 Shuttle
          </p>
          
        </div>
      </div>
  </div>
  
  <style>
    span {
        text-transform: uppercase;
    }
  </style>